body {
 background: radial-gradient(#0510b3, #000000,red);
  background-size: 400% 400%;
  animation: moverFondo 30s ease infinite, cambiarColores 5s ease-in-out infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}
.buttom{
  padding: 12px ;
text-decoration: none;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  margin: 0px;
color: white;

}

.text-conteiner {
  background-color: #faf7f700;
  width: 160px;
  height: 160px;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  margin:0 auto;
  
 
}

.category {
 background-color: #ff0000f3;

  border-radius: 90px;
  display: flex;
  border: 3px solid #ffffff;
  font-family: "Poppins", sans-serif;
  font-weight: 50px;
  font-size: 20px;
  justify-content: center;
  text-align: end;
  margin: 30px;
  text-decoration: none;
  color: white
 
}
@keyframes moverFondo {
   0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.background-card {
  width: 40%;
  border-radius: 30px;
  box-shadow: 0 10px 30px rgb(202, 5, 5);
  justify-content: center;
  text-align: center;
}

h1{
  color: white;
  margin: 10%;
  text-align: center;
  font-family:'Times New Roman', Times, serif;
  font-size: 40px;

}


.imagen-movimiento {
  width: 400px; 
  animation: flotar 5s ease-in-out infinite;
  border-radius: 50%;
  display: block;

 
}

@keyframes flotar {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.enlaces {
  display: flex;
  flex-direction: column;
  justify-content: center;
}